<h1>Bucket List</h1>

<h3>Items that have not yet been accomplished</h3>
<ul>
  {{#each items}} 
    {{#unless accomplished}} 
      {{> items/item-block}} 
    {{/unless}} 
  {{/each}}
</ul>

<h3>Items that have been accomplished</h3>

<ul>
  {{#each items}}
    {{#if accomplished}}
      {{> items/item-block}}
    {{/if}}
  {{/each}}
</ul>

<h3>Add an item</h3>
<form class="create-form">

  <div class="form-group">
    <label for="item">Item:</label>
    <input type="text" id="item" name="item" required>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Add Item
    <i class="material-icons right">add</i>
  </button>
</form>